<!doctype html>
<html>
<head>
    <link href="libs/toastr.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="./home.css">
    <link rel="stylesheet" type="text/css" href="./custom-slick.css">
    <link rel="stylesheet" href="libs/chosen.min.css">
    <link rel="stylesheet" href="./libs/slickgridlibs/css/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="./libs/slickgridlibs/css/jquery-ui-1.8.16.custom.css" type="text/css"/>
    <link rel="stylesheet" href="./libs/slickgridlibs/plugins/css/plugins-common.css" type="text/css"/>
    <link rel="stylesheet" href="./libs/slickgridlibs/plugins/css/plugins-excel-style.css" type="text/css"/>
</head>
<body>
<div style="border: 1px solid darkslategray; padding: 10px">
    <h1>Web Code Book</h1>

    <div style="width: 100%;text-align:center">
        <div class="code_creation_div" style="display: inline-block;text-align:left">
            <div class="code_create_div_column_float_left">
                <table>
                    <tr>
                        <td><span>NL - </span>
                        <td><input type="text" id="nl_code"></td>
                        </td>
                    </tr>
                    <tr>
                        <td><span>NR - </span>
                        <td><input type="text" id="nr_code"></td>
                        </td>
                    </tr>
                    <tr>
                        <td><span>ER - </span>
                        <td><input type="text" id="er_code"></td>
                        </td>
                    </tr>
                    <tr>
                        <td><span>SR - </span>
                        <td><input type="text" id="sr_code"></td>
                        </td>
                    </tr>
                    <tr>
                        <td><span>NER - </span>
                        <td><input type="text" id="ner_code"></td>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="code_create_div_column_float_left">
                <span>Category</span><br><br>
                <select name="category" id="category_select">
                    <option value="">Other</option>
                </select>
            </div>


            <div id="element_selector_div" class="code_create_div_column_float_left">
                <button id="element_selector_button">Element Selector</button>
                <br><br>
                <span>Requested By</span><br>
                <select data-placeholder="Add requesting Entities..." name="request_entities_select"
                        id="request_entities_select" class="chosen-select" multiple style="width:350px;">
                    <option value="">Maharashtra</option>
                    <option value="">ghjghj</option>
                    <option value="">kjhjkhkjhk</option>
                </select>
            </div>
            <input type="text" id="code_description_input" placeholder="Code Description"
                   class="code_create_div_column_float_left">
            <button id="get_code_button" class="code_create_div_column_float_left" onclick="createCode()">Get Code
            </button>
            <br>
        </div>
    </div>
    <button id="month_start_button" onclick="month_start_button_click()">GetZeroCodeForMonthStart</button>
</div>
<br>

<div id="codes_display_div" style="margin-right:20px;margin-left:20px">
    <h2>Codes</h2>

    <div id="myGrid" style="height:400px;border: 1px solid #6CD89D"></div>
    <br>
</div>

<div style="border: 1px solid darkslategray;padding: 10px;display:none">
    <h1>Entity Selector</h1>

    <div style="width: 100%;text-align:center">
        <div class="entity_selector_div" style="display: inline-block;text-align:left">
            <button class="entity_selector_div_column_float_left" id="clear_entity_checks_button">Clear Checkboxes
            </button>

            <div id="entity_selector_div" class="entity_selector_div_column_float_left">
                <ul class="scrollable_ul" style="height: 100px" id="entity_selector">
                    <li><input type="checkbox" name="" id="">Maharashtra</li>
                    <li><input type="checkbox" name="" id="">Gujarat</li>
                    <li><input type="checkbox" name="" id="">Chhattisgarh</li>
                </ul>
            </div>

            <button id="commit_entity_checks_button" class="entity_selector_div_column_float_left">Commit Changes
            </button>

        </div>
    </div>
</div>

<div style="border: 1px solid darkslategray;padding: 10px">
    <h1>Edit Code <span id="code_edit_span">xyz</span></h1>

    <div style="width: 100%;text-align:center">
        <div class="code_creation_div" style="display: inline-block;text-align:left">
            <div class="code_create_div_column_float_left">
                <label style="margin-right: 30px"><input type="checkbox" value="CancelCode"
                                                         id="is_cancelled_edit_chkbox"> CancelCode</label><br>
            </div>
            <div class="code_create_div_column_float_left">
                <table>
                    <tr>
                        <td><span>NL - </span>
                        <td><input type="text" id="nl_code_edit"></td>
                        </td>
                    </tr>
                    <tr>
                        <td><span>NR - </span>
                        <td><input type="text" id="nr_code_edit"></td>
                        </td>
                    </tr>
                    <tr>
                        <td><span>ER - </span>
                        <td><input type="text" id="er_code_edit"></td>
                        </td>
                    </tr>
                    <tr>
                        <td><span>SR - </span>
                        <td><input type="text" id="sr_code_edit"></td>
                        </td>
                    </tr>
                    <tr>
                        <td><span>NER - </span>
                        <td><input type="text" id="ner_code_edit"></td>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="code_create_div_column_float_left">
                <span>Category</span><br><br>
                <select name="category" id="category_select_edit">
                    <option value="">Other</option>
                </select>
            </div>
            <div id="element_selector_div_edit" class="code_create_div_column_float_left">
                <button id="element_selector_button_edit">Element Selector</button>
                <br><br>
                <span>Requested By</span><br>
                <select data-placeholder="Add requesting Entities..." name="request_entities_select"
                        id="request_entities_select_edit" class="chosen-select" multiple style="width:350px;">
                    <option value="">Maharashtra</option>
                    <option value="">ghjghj</option>
                    <option value="">kjhjkhkjhk</option>
                </select>
            </div>
            <input type="text" id="code_description_input_edit" placeholder="Code Description"
                   class="code_create_div_column_float_left">
        </div>
        <br>

        <div style="display: inline-block;width: 100%">
            <span>TIME - </span><input type="time" id="code_time_edit" value="10:10">
        </div>
        <br>

        <div style="display: inline-block;width: 100%">
            <div style="display: inline-block;text-align: left;float: left;margin-left: 30px">
                <button>Create Revival Code</button>
            </div>
            <div style="display: inline-block;text-align: left;float: right;margin-right: 40px">
                <button style="margin-right: 20px">Cancel Changes</button>
                <button>Commit Changes</button>
            </div>
        </div>
    </div>
</div>
<script src="./libs/jquery/jquery-1.7.min.js"></script>
<script src="libs/chosen.jquery.min.js"></script>
<!--<script src="example.js"></script>-->

<script src="./libs/slickgridlibs/firebugx.js"></script>
<script src="./libs/jquery/jquery-ui-1.8.16.custom.min.js"></script>
<script src="./libs/jquery/jquery.event.drag-2.2.js"></script>
<script src="./libs/jquery/scrollMonitor.js"></script>
<script src="./libs/slickgridlibs/slick.core.js"></script>
<script src="./libs/slickgridlibs/plugins/slick.autotooltips.js"></script>
<script src="./libs/slickgridlibs/plugins/slick.cellrangedecorator.js"></script>
<script src="./libs/slickgridlibs/plugins/slick.cellrangeselector.js"></script>
<script src="./libs/slickgridlibs/plugins/slick.cellexternalcopymanager.js"></script>
<script src="./libs/slickgridlibs/plugins/slick.cellselectionmodel.js"></script>
<script src="./libs/slickgridlibs/slick.editors.js"></script>
<script src="./libs/slickgridlibs/slick.formatters.js"></script>
<script src="./libs/slickgridlibs/slick.grid.js"></script>
<script src="./libs/slickgridlibs/plugins/ext.headerfilter.js"></script>
<script src="./libs/slickgridlibs/plugins/ext.overlays.js"></script>
<!--<script src="./libs/slickgridlibs/slick.dataview.js"></script>-->
<script src="./libs/slickgridlibs/plugins/slick.autocolumnsize.js"></script>

<script src="libs/toastr.min.js"></script>
<script src="./SetupGrid.js"></script>
<script src="home.js"></script>
<script src="libs/custom/utils.js"></script>
</body>
</html>